In [4]:
import pandas as pd
df = pd.read_csv('census.csv')

In [2]:
df.head()

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,78,346,35,50,85,59,8,67,12,629

In [9]:
pop = df.groupby('State name').Population.sum()

In [10]:
pop.to_csv('population.csv')

In [15]:
pop.index = pop.index.str.title()

In [16]:
pop

State name
Andaman And Nicobar Islands       380581
Andhra Pradesh                  84580777
Arunachal Pradesh                1383727
Assam                           31205576
Bihar                          104099452
Chandigarh                       1055450
Chhattisgarh                    25545198
Dadra And Nagar Haveli            343709
Daman And Diu                     243247
Goa                              1458545
Gujarat                         60439692
Haryana                         25351462
Himachal Pradesh                 6864602
Jammu And Kashmir               12541302
Jharkhand                       32988134
Karnataka                       61095297
Kerala                          33406061
Lakshadweep                        64473
Madhya Pradesh                  72626809
Maharashtra                    112374333
Manipur                          2855794
Meghalaya                        2966889
Mizoram                          1097206
Nagaland                         1978502
Nct Of Delhi                    16787941
Orissa                          41974218
Pondicherry                      1247953
Punjab                          27743338
Rajasthan                       68548437
Sikkim                            610577
Tamil Nadu                      72147030
Tripura                          3673917
Uttar Pradesh                  199812341
Uttarakhand                     10086292
West Bengal                     91276115
Name: Population, dtype: int64